<h1>Business users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

	<% @businesses.each do |user| %>
	  <tr>
	    <td><%= user.email %></td>
			<th colspan="3"></th>
	  </tr>
	<% end %>
</table>
