<h1>User profile</h1>

<% if business_signed_in? %>
<p>User signed in as... <%= current_business.email %>. Not you?
	<%= link_to "Sign out", destroy_business_session_path, method: :delete %>
</p>
<% end %>

TODO: Show a stock lists (users can CRUD)
