<p>
  <strong>Ticker:</strong>
  <%= @stock.ticker %>
</p>


<table class="table">
  <thead>
    <tr>
      <th>Price</th>
      <th>Retrieved at</th>
      <th colspan="3"></th>
    </tr>
  </thead>


</table>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
